@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
$bdcolor:rgb(115, 122, 115);
header{
    text-align: center;
    background-color: $bdcolor;
    color: #FFF;
    padding: 10px;
}
body{
    background-color: aquamarine;
    font-family: 'Noto Sans TC';
}
.quizView{
    text-align: center;
}
.img-responce{
    width: 100%;
    height: 100%;
    padding: 10px;
}
footer{
    height: 100px;
    background-color: $bdcolor;
    position: absolute;
    bottom:0;
    width:100%;
    padding: 15px;
    text-align: center;
}