@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
    background-color: #5f5f5f;
    font-family: 'Noto Sans TC';
}
.container{
    .Itemlist{
        width: 100%;
        padding: 1.5%;
        background-color: #FFF;
    }
}
footer{
    background-color: rgb(160, 196, 255);
    text-align: center;
    padding: 1.5%;
}
